# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Git files
.git/
.gitignore

# Docker files (not needed inside image)
Dockerfile
docker-compose.yml

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
